.weather-widget--inner {
  display: flex;
  flex-wrap: wrap;
}

.weather-header {
  flex-basis: 100%;
}

.weather-card {
  display: block;
  background-color: #fff;
  color: #333;
  padding: 2em 1em;
  margin: .5em;
  box-shadow: 0 0 4px #888;
  flex-basis: 18%;
  flex-shrink: 0;
  box-sizing: border-box;
}

.weather-card i.wi {
  font-size: 6vw;
  margin: 1vw .5vw;
  text-align: center;
  display: block;
}

.weather-card h4.weather-card-date {
  font-weight: bold;
  font-size: 1.2em;
}
